# Chicago Crime Data Exploration

## Imports and Functions

In [1]:
import pandas as pd
import numpy as np
import glob
import os

In [ ]:
def concat_data(df):

In [8]:
list_of_files = glob.glob('C:/Users/Daanish/Desktop/projects/chicago_crime_analysis/dataset/crime-*')

In [18]:
def concat_data(files_list):
    df_list = []
    
    for i in files_list:
        df_list.append(pd.read_csv(i, compression='gzip', dtype={'iucr' : 'str', 'fbi_code' : 'str'}))
    
    return pd.concat(df_list)

In [19]:
df_crime = concat_data(list_of_files)

In [21]:
df_crime.to_pickle('C:/Users/Daanish/Desktop/projects/chicago_crime_analysis/dataset/df_crime_full')

In [27]:
df_crime = df_crime.reset_index(drop=True)

In [29]:
df_crime.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7536704 entries, 0 to 7536703
Data columns (total 22 columns):
 #   Column                Dtype
---  ------                -----
 0   unique_key            int64
 1   case_number           object
 2   date                  object
 3   block                 object
 4   iucr                  object
 5   primary_type          object
 6   description           object
 7   location_description  object
 8   arrest                bool
 9   domestic              bool
 10  beat                  int64
 11  district              float64
 12  ward                  float64
 13  community_area        float64
 14  fbi_code              object
 15  x_coordinate          float64
 16  y_coordinate          float64
 17  year                  int64
 18  updated_on            object
 19  latitude              float64
 20  longitude             float64
 21  location              object
dtypes: bool(2), float64(7), int64(3), object(10)
memory usage: 1.1+ GB

In [39]:
df_crime['count'] = 1

In [45]:
df_crime.loc[df_crime['primary_type'] == 'DOMESTIC VIOLENCE']

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location,count
87891,1326195,G021609,2001-01-11 02:30:41 UTC,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,NaN,08B,1196869.0,1847416.0,2001,2015-08-17 03:03:40 UTC,41.736176,-87.55432,"(41.73617608, -87.554319607)",1

In [46]:
df_crime.dropna()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location,count
0,4299735,HL611573,2005-09-08 09:30:00 UTC,085XX S STONY ISLAND AVE,2830,OTHER OFFENSE,OBSCENE TELEPHONE CALLS,COMMERCIAL / BUSINESS OFFICE,False,False,...,45.0,17,1188294.0,1848471.0,2005,2018-02-28 03:56:25 UTC,41.739280,-87.585701,"(41.739279802, -87.5857013)",1
1,4381908,HL593382,2005-09-05 05:20:40 UTC,134XX S BURLEY AVE,2170,NARCOTICS,POSSESSION OF DRUG EQUIPMENT,SIDEWALK,True,False,...,55.0,18,1199770.0,1816376.0,2005,2018-02-10 03:50:01 UTC,41.650927,-87.544733,"(41.650926841, -87.54473274)",1
2,4549587,HM139464,2006-01-22 05:00:00 UTC,064XX S LAMON AVE,1305,CRIMINAL DAMAGE,CRIMINAL DEFACEMENT,RESIDENCE-GARAGE,False,False,...,64.0,14,1144825.0,1861427.0,2006,2018-02-28 03:56:25 UTC,41.775759,-87.744641,"(41.775759303, -87.744640849)",1
3,6014908,HP118020,2008-01-11 07:40:00 UTC,050XX N KIMBALL AVE,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, BUILDING",False,False,...,13.0,08B,1152801.0,1933422.0,2008,2018-02-28 03:56:25 UTC,41.973168,-87.713495,"(41.973167821, -87.713495268)",1
4,6291589,HP378927,2008-06-06 12:30:00 UTC,006XX E 131ST ST,0484,BATTERY,PRO EMP HANDS NO/MIN INJURY,"SCHOOL, PUBLIC, BUILDING",False,False,...,54.0,08B,1182901.0,1818558.0,2008,2018-02-28 03:56:25 UTC,41.657321,-87.606385,"(41.657321469, -87.606385112)",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7536699,2163850,HH389795,2002-05-22 08:36:00 UTC,058XX N WINTHROP AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,False,False,...,77.0,26,1167806.0,1939007.0,2002,2018-02-10 03:50:01 UTC,41.988182,-87.658157,"(41.988182041, -87.658156779)",1
7536700,3985229,HL348781,2005-05-10 08:00:00 UTC,060XX N RIDGE AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,False,False,...,77.0,26,1163480.0,1940257.0,2005,2018-02-28 03:56:25 UTC,41.991705,-87.674033,"(41.991704561, -87.67403274)",1
7536701,2163936,HH389776,2002-05-22 08:35:00 UTC,058XX N WINTHROP AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,False,False,...,77.0,26,1167806.0,1939007.0,2002,2018-02-10 03:50:01 UTC,41.988182,-87.658157,"(41.988182041, -87.658156779)",1
7536702,2640368,HJ250063,2003-03-18 08:00:00 UTC,060XX N KENMORE AVE,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,STREET,True,False,...,77.0,26,1168149.0,1940233.0,2003,2018-02-28 03:56:25 UTC,41.991539,-87.656860,"(41.991538784, -87.656859584)",1
7536703,6396369,HP481055,2008-07-28 11:29:00 UTC,056XX N BROADWAY,5002,OTHER OFFENSE,OTHER VEHICLE OFFENSE,SIDEWALK,True,False,...,77.0,26,1167294.0,1937509.0,2008,2018-02-28 03:56:25 UTC,41.984083,-87.660083,"(41.984082552, -87.660083261)",1

In [48]:
6844631 / 7536704 -1

-0.09182701085248934

In [42]:
df_crime.groupby('primary_type').count()['count'].sort_values()

primary_type
DOMESTIC VIOLENCE                          1
NON-CRIMINAL (SUBJECT SPECIFIED)           9
RITUALISM                                 24
NON - CRIMINAL                            38
HUMAN TRAFFICKING                         90
OTHER NARCOTIC VIOLATION                 141
NON-CRIMINAL                             178
PUBLIC INDECENCY                         188
OBSCENITY                                767
CONCEALED CARRY LICENSE VIOLATION        901
STALKING                                4315
INTIMIDATION                            4455
CRIMINAL SEXUAL ASSAULT                 4912
KIDNAPPING                              7090
HOMICIDE                               11853
ARSON                                  12813
GAMBLING                               14608
LIQUOR LAW VIOLATION                   14680
INTERFERENCE WITH PUBLIC OFFICER       17931
CRIM SEXUAL ASSAULT                    27751
SEX OFFENSE                            29361
PUBLIC PEACE VIOLATION                 51572
OFFENSE INVOLVING CHILDREN             53532
PROSTITUTION                           69565
WEAPONS VIOLATION                      97693
CRIMINAL TRESPASS                     209937
ROBBERY                               283242
DECEPTIVE PRACTICE                    327365
MOTOR VEHICLE THEFT                   349266
BURGLARY                              416885
OTHER OFFENSE                         469135
ASSAULT                               486246
NARCOTICS                             742203
CRIMINAL DAMAGE                       858975
BATTERY                              1382378
THEFT                                1586604
Name: count, dtype: int64

In [49]:
df_crime.columns

Index(['unique_key', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', 'count'],
      dtype='object')

In [50]:
relevant_columns = []

0           4.0
1           4.0
2           8.0
3          17.0
4           5.0
           ...
7536699    20.0
7536700    24.0
7536701    20.0
7536702    24.0
7536703    20.0
Name: district, Length: 7536704, dtype: float64

In [58]:
df_crime.loc[df_crime['arrest'].isna()]

Empty DataFrame
Columns: [unique_key, case_number, date, block, iucr, primary_type, description, location_description, arrest, domestic, beat, district, ward, community_area, fbi_code, x_coordinate, y_coordinate, year, updated_on, latitude, longitude, location, count]
Index: []

[0 rows x 23 columns]